# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

  Some of the commonly used libraries used by Data Scientits include:
  1. Pandas
  2. Numpy
  3. Matplotlib
  4. Keras

| Data Science Tools|
|:-----------------|
| RStudio                                           |
| Watson                                            |
| Jupyter 

* **Objectives**
     + create a Jupyter Notebook
     + insert code and markdown cells
     + share your notbook through Github

### Below are a few examples of evaluating arimethic expressions in Python

This is a simple arithmetic expression to multiply then add integers.

In [35]:
  (3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [38]:
200/60

3.3333333333333335

## Author
Hans U deck